.user-container {
    background-color: rgb(236, 204, 136);
    padding: 25px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
}

#user-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}