.custom-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;

    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;

    background-color: #007bff;
    color: #ffffff;

    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.3s ease;
}

.custom-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.custom-btn:active {
    background-color: #004085;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}

.custom-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}