.custom-form {
    width: 100%;
    padding: 20px;

    border: 2px solid #99a4ac;
    border-radius: 8px;
    background-color: #f8f9fa;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.input-submit-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.input-submit-container input[type="text"] {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;

    border: 1px solid #ced4da;
    box-sizing: border-box;
    flex-grow: 1;

    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-submit-container input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.input-feedback {
    font-size: 1.2rem;
    color: rgb(45, 43, 43);
    margin-top: -5px;
}