.main-app-content {
  background-color: #FFFFFF;


  padding: 20px;
  border-radius: 12px;
  border: 2px solid #34495e;
  ;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2em;
}

.submission-result {
  font-size: 1.2rem;
  color: #007bff;
  padding: 10px;
  border-bottom: 2px solid #007bff;
  text-align: center;
  width: 100%;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.submission-result.submitted {
  color: #28a745;
  border-color: #28a745;
  font-weight: bold;
}

.submission-result.error {
  color: #dc3545;
  border-color: #dc3545;
  font-weight: bold;
}