#container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    justify-items: center;

    justify-content: center;
    align-items: center;

    gap: 30px;

    margin: 0 auto;
    padding: 20px;
}