.btn-container {
    margin: auto;
    padding: 1rem;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d0f0e0;
    box-sizing: border-box;
    gap: 1rem;
    border-radius: 15px;
    width: fit-content;
    transition: transform 0.2s ease-in-out;
}

.btn-container:hover {
    transform: scale(1.02);
}

#counter {
    color: rgb(106, 112, 85);
    padding: 2px;
}

#click-btn {

    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #20c997;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
}


#click-btn:hover {
    background-color: #17a2b8;
}