.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f5eaea;
    color: #2e7d32;
    border-radius: 12px;
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 90%;
    transition: transform 0.2s ease-in-out;
}


.card-container:hover {
    transform: scale(1.02);
}